.navbar-default {
    background-color: #002E21;
    border-color: #EAC760;
    color: #EAC760 !important;
}
.btn-default {
    border-color : #002E21;
    background-color : #EAC760;
	font-family: 'Audiowide', cursive;
}
.panel-default {
    border-color: #EAC760;
}
.panel-default > .panel-heading{
    background-color: #002E21;
    color: #EAC760;
}
.navbar-brand{
	font-family: 'Audiowide', cursive;
	font-size: 30px;
    color: #EAC760 !important;
}
 
@media (max-width: 400px) {
  .navbar-brand{
	font-size: 15px;
  }
}
@media (max-width: 350px) {
  .navbar-brand{
	font-size: 13px;
  }
}
.gold-text{
    color: #EAC760;
}
.head-link{
    color: #EAC760;
}

